{% extends 'mailmaster/base.html' %}


{% block content %}
<div class="container">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Подтверждение удаления сообщения</h3>
                    </div>

                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <p class="text-danger">Хотите удалить сообщение "{{ object.title }} с содержимым
                                {% if object.body|length > 25 %}
                                {{ object.body|slice:"%:25" }} ...
                                {% else %}
                                {{ object.body }}
                                {% endif %}
                                ?"</p>
                            <button type="submit" class="btn btn-danger">Подтвердить</button>
                            <a href="{% url 'mailmaster:message_list' %}" class="btn btn-secondary">Отмена</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

